<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Savi.NG Sign-Up</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

    <!-- use the font -->
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 48px;
        }
    </style>
</head>
<body style="margin: 0; padding: 0;">

    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
        <tr>
            <td align="center" bgcolor="#a100fa" style="padding: 40px 0 30px 0;">
                <img src="https://saving-dev-web.herokuapp.com/_next/static/images/saviLogo-b800af31b90396c16ba1afdc8d3d1ab0.svg" alt="https://saving-dev-web.herokuapp.com/" style="display: block;" />
            </td>
        </tr>
        <tr>
            <td bgcolor="#FAF5FF" style="padding: 40px 30px 40px 30px;">
                <p>Dear <span th:text="${name}"></span>,</p>
                <p>Welcome to <span th:text="${signature}"></span>. We are looking forward to growing your goals.</p>
                <p>Thanks</p>
            </td>
        </tr>
        <tr>
            <td bgcolor="#8000fa" style="padding: 30px 30px 30px 30px; color: #ffffff;">
                <p><span th:text="${signature}"></span></p>
            </td>
        </tr>
    </table>

</body>
</html>